.App {
  text-align: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  margin: 0 auto; 
}

label {
  margin-right: 10px; 
}

h6 {
  margin: 10px 0 20px 0; 
}

#title {
  margin: 0px; 
}

#score {
  margin-top: 20px;
}

.frame {
  margin: 20px 10px 0px 10px; 
}

.row {
  margin: 0 0 10px 0; 
}